<?xml version="1.0" ?>
<robot name="robot_per_machine" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Get the macros we will need -->
  <xacro:include filename="$(find abb_irb4400)/urdf/irb4400l_30_243_macro.xacro"/>

  <!-- Import instances of the macros -->
  <xacro:abb_irb4400l_30_243 prefix="robot0_"/>
  <xacro:abb_irb4400l_30_243 prefix="robot1_"/>

  <!-- Extra links -->
  <link name="world"/>

  <joint name="robot1_to_world" type="fixed">
    <origin xyz="0 -2.000 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="robot1_base_link"/>
  </joint>

  <joint name="robot2_to_world" type="fixed">
    <origin xyz="0 2.000 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="robot2_base_link"/>
  </joint>

</robot>
